.navbar-brand img {
    font-family: "Montserrat", sans-serif;
    width: 26px;
    /* default size for phone */
}

@media (min-width: 768px) {
    .navbar-brand img {
        width: 56px;
        /* size for desktop */
    }
}


/* Adjust the margin as needed */


/* In your custom CSS file */
.font-custom {
    font-family: 'Montserrat', sans-serif;
}
html{
    background-color: white;
    scroll-behavior: smooth;
}